button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px 0px;
    border: none;
    border-radius: 15px;
  }
  
  .typeQty {
    display: flex;
    margin-left: 40px;
  }
  
  
  @media (max-width: 768px) {
    button {
      font-size: 12px; 
      margin: 10px auto; 
    }
  
    .typeQty {
      flex-direction: column;
      align-items: center; 
      margin-top: 20px;
    }
  }
  